Package: com.github.vroosky.souno-indicator-chinaweather
Version: 0.2.1
Section: gnome 
Priority: extra 
Maintainer: vroosky<88459122@qq.com>  
Homepage: http://souno.cc 
Architecture: amd64
Depends:python3,python3-dev
Description: 本程序是在GNU通用公共许可证的条款下发布的自由软件你可以重新分配/修改。
